
Homebase.xcodeproj/xcuserdata/*

Homebase.xcodeproj/xcuserdata/justin.xcuserdatad/xcschemes/Homebase.xcscheme

Homebase.xcodeproj/xcuserdata/justin.xcuserdatad/xcschemes/xcschememanagement.plist

Homebase.xcworkspace/xcuserdata/justin.xcuserdatad/UserInterfaceState.xcuserstate

Homebase.xcworkspace/xcuserdata/justin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
